<!DOCTYPE html>
<html>
<head>
    <title>Predict Input</title>
</head>
<body>
    <h1>Predict Input</h1>
    <form action="/predictinput" method="post">
        {% for column in columns %}
            {% if column != target %}
            <p>{{target}}</p>
                <label for="{{ column }}">{{ column }}:</label>
                <input type="text" name="{{ column }}" id="{{ column }}" required><br><br>
            {% endif %}
        {% endfor %}

        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
    <h2>Prediction:</h2>
    <p>{{ prediction }}</p>
    {% endif %}
</body>
</html>
